{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/movie.css') }}">
{% endblock %}
{% block title %}{{ movie.name }}{% endblock %}

{% block page_content %}
<div class="page-header" id="page-header">
    <h1>{{ movie.name }}</h1>
</div>

<div class="box">
    <h3><span class="label label-default">评论</span></h3>
    <ul id="cmts">
        {% for comment in movie.comments %}
        <li>
            <div class="avatar-group">
                {% if current_user.picture %}
                <img class="img-rounded avatar"
                     src="data:;base64,{{ base64.b64encode(current_user.picture).decode('ascii') }}"/>
                {% else %}
                <img class="img-rounded avatar" src="{{ url_for('static', filename='favicon.ico') }}"/>
                {% endif %}
                <span class="glyphicon glyphicon-subtitles avatar-title">{{ comment.body_html }}</span>
            </div>
            <div class="comment-group">
                <p class="comment-content">{{ comment.body }}</p>
                <div class="comment-info">
                    <span class="glyphicon glyphicon-user comment-author">{{ comment.author.name }}</span>
                    <span class="glyphicon glyphicon-time comment-time">{{ comment.timestamp }}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
