{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "pagination.html" as macros %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/movie.css') }}">
{% endblock %}
{% block title %}{{ movie.name }}{% endblock %}

{% block page_content %}
<div class="page-header" id="page-header">
    <h1>{{ movie.name }}</h1>
</div>

<div class="box">
    {{ wtf.quick_form(form) }}
    <button class="btn btn-default" id="back" onclick= "javascript:window.location.href='{{ url_for('subject.movie', id=movie.id) }}';">返回</button><br/>
    <hr/>
    <ul id="cmts">
        {% for comment in comments %}
        <li>
            <div class="avatar-group">
                {% if comment.author.picture %}
                <img class="img-rounded avatar"
                     src="data:;base64,{{ base64.b64encode(comment.author.picture).decode('ascii') }}"/>
                {% else %}
                <img class="img-rounded avatar" src="{{ url_for('static', filename='favicon.ico') }}"/>
                {% endif %}
                <span class="glyphicon glyphicon-subtitles avatar-title">{{ comment.title }}</span>
            </div>
            <div class="comment-group">
                <p class="comment-content">{{ comment.body }}</p>
                <div class="comment-info">
                    <span class="glyphicon glyphicon-user comment-author">{{ comment.author.name }}</span>
                    <span class="glyphicon glyphicon-time comment-time">{{ comment.timestamp }}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.movie', id=movie.id) }}
    </div>
    {% endif %}
</div>
{% endblock %}
