{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/movie.css') }}">
{% endblock %}
{% block title %}热映电影{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>热映电影</h1>
</div>

{% for row in movies|batch(4) %}
    <div class="row">
        {% for movie in row %}
            <div class="col-md-3">
                <a href="{{ url_for("subject.movie", id=movie.id) }}">
                    {% if movie.picture %}
                    <img class="img-rounded" src="data:;base64,{{ base64.b64encode(movie.picture).decode('ascii') }}" width="100%"/>
                    {% else %}
                    <img class="img-rounded" src="{{ url_for('static', filename='movie.png') }}" width="100%"/>
                    {% endif %}
                </a>
                导演：{{ movie.director }}<br/>
                价格：￥{{ movie.price }}
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}
