{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "pagination.html" as macros %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}订单详情{% endblock %}

{% block page_content %}
<div class="page-header" id="page-header">
    <h1>订单详情</h1>
</div>

<div class="col-md-12">
    <table class="table">
        <tr>
            <td>订单编号</td>
            <td>下单日期</td>
            <td>运费</td>
            <td>支付方式</td>
            <td>收取方式</td>
            <td>电影名称</td>
            <td>电影价格</td>
            <td>退款状态</td>
            <td>支付状态</td>
            <td>发货状态</td>
        </tr>
        {% for voucher in vouchers %}
        <tr>
            <td>
                {% if voucher.multiply_commodities %}
                <a target="_blank" href="{{ url_for('user.order_detail', order_identify=voucher.order_identify) }}">
                    {{ voucher.order_identify }}
                </a>
                {% else %}
                <a target="_blank" href="{{ url_for('user.order_detail', order_identify=voucher.order_identify) }}">
                    {{ voucher.order_identify }}
                </a>
                {% endif %}
            </td>
            <td>{{ (voucher.timestamp+timedelta(hours=8)).strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>{{ voucher.freight }}</td>
            <td>{{ voucher.payment_method }}</td>
            <td>{{ voucher.receive_method }}</td>
            <td>
                {% if voucher.multiply_commodities %}
                ---
                {% else %}
                <a href="{{ url_for('subject.movie', id=voucher.movie.id) }}">
                    {{ voucher.movie.name }}
                </a>
                {% endif %}
            </td>
            <td>{{ voucher.total_money }}</td>
            <td>
                {% if voucher.is_refund == 0 %}无{% elif voucher.is_refund == 1 %}正在退款{% else %}<span style="color:red">已退款</span>{% endif %}
                {% if current_user.is_administrator() %}
                    {% if voucher.is_refund == 1 %}
                        <button class="btn-xs btn-warning" style="margin:0 auto;" onclick="javascript:window.location.href = '{{ url_for('user.admin_refund', order_identify=voucher.order_identify) }}';">确认退款</button>
                    {% endif %}
                    {% if voucher.is_refund == 0 %}
                        <button class="btn-xs btn-danger" style="margin:0 auto;" onclick="javascript:window.location.href = '{{ url_for('user.admin_refund', order_identify=voucher.order_identify) }}';">取消订单</button>
                    {% endif %}
                {% else %}
                    {% if voucher.is_refund == 0 and voucher.is_send == False %}
                        <button class="btn-xs btn-warning" style="margin:0 auto;" onclick="javascript:window.location.href = '{{ url_for('user.refund', order_identify=voucher.order_identify) }}';">申请退款</button>
                    {% endif %}
                {% endif %}
            </td>
            <td>{% if voucher.is_pay %}已支付{% else %}待支付{% endif %}</td>
            <td>
                {% if voucher.is_send %}已发货{% else %}待发货{% endif %}
                {% if current_user.is_administrator() %}
                    {% if voucher.is_send == False and voucher.is_refund == 0 %}
                        <button class="btn-xs btn-success" style="margin:0 auto;" onclick="javascript:window.location.href = '{{ url_for('user.admin_send', order_identify=voucher.order_identify) }}';">确认发货</button>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if pagination %}
    <div style="text-align: center;">
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'manage.manage_movies') }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
