{% extends "base.html" %}

{% block title %}个人资料{% endblock %}

{% block page_content %}
<div class="page-header" id="page-header">
    <h1>个人资料</h1>
</div>
<div class="box">
<div class="col-md-6">
    {% if user.picture %}
    <img class="img-rounded" src="data:;base64,{{ base64.b64encode(user.picture).decode('ascii') }}" width="100%"/>
    {% else %}
    <img class="img-rounded" src="{{ url_for('static', filename='icon.png') }}" width="100%"/>
    {% endif %}
</div>
<div class="col-md-6">
    <div>
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
            {% if user.name %}<p>姓名：{{ user.name }}</p>{% endif %}
            {% if user.location %}<p>所在地：<a href="http://maps.baidu.com/?q={{ user.location }}">{{ user.location }}</a></p>
            {% endif %}
        {% endif %}
        {% if current_user.is_administrator() and not user == current_user %}
        <p>邮箱：<a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% else %}
        <p>邮箱：{{ user.email }}</p>
        {% endif %}
        {% if user.about_me %}
        个性签名
        <p><textarea class="text-info" readonly>{{ user.about_me }}</textarea></p>
        {% endif %}
        <p>注册时间：{{ moment(user.member_since).format('L') }}</p>
        <p>上次登陆：{{ moment(user.last_seen).fromNow() }}.</p>
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">编辑个人资料</a>
            {% else %}
                {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">编辑个人资料[管理员]</a>
                {% endif %}
            {% endif %}
        </p>
    </div>
</div>
</div>
{% endblock %}