.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

body{
    background: #f3f3f3;
}

#main{
    background:#fff;
    width: 80%;
    margin:0 auto;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.dropdown-menu li{
    list-style: none;
}

.form-control{
    resize: none;
}

.box{
    position: relative;
    width: 60%;
    margin: 0 auto;
}

#page-header{
    text-align: center;
}

.text-info{
    resize: none;
}

#submit {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#delete {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.searchbar{
    margin-top: 10px;
}


.carousel-control.left {
    background-image:none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
    left: auto;
    right: 0;
    background-image:none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
