{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "pagination.html" as macros %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/movie.css') }}">
{% endblock %}
{% block title %}搜索结果{% endblock %}

{% block page_content %}
<div class="col-md-12 page-header" id="page-header">
    <div class="box">
        <div class="col-md-4" style="width: 100%;">
            <form class="search" method="get">
                <label for="name">电影名称</label>
                <input type="text" class="input form-control" id="name" name="name" value="{{ name }}" placeholder="电影名称">
                <label for="name">导演</label>
                <input type="text" class="input form-control" id="director" name="director" value="{{ director }}" placeholder="导演名称">
                <label for="name">上映年份</label>
                <select class="form-control" id="year" name="year" placehoder="上映年份">
                    <option {% if year == "全部年份"%}selected="selected"{% endif %}>全部年份</option>
                    <option {% if year == "2019"%}selected="selected"{% endif %}>2019</option>
                    <option {% if year == "2018"%}selected="selected"{% endif %}>2018</option>
                    <option {% if year == "2017"%}selected="selected"{% endif %}>2017</option>
                    <option {% if year == "2016-2011"%}selected="selected"{% endif %}>2016-2011</option>
                    <option {% if year == "2010-2001"%}selected="selected"{% endif %}>2010-2001</option>
                    <option {% if year == "更早"%}selected="selected"{% endif %}>更早</option>
                </select>
                <button type="submit" class="btn"><i class="icon-search"></i>搜索</button>
            </form>
        </div>
    </div>
</div>

{% for row in movies|batch(4) %}
<div class="row">
    {% for movie in row %}
    <div class="col-md-3 movie">
        <a href="{{ url_for("subject.movie", id=movie.id) }}" target ="_blank">
        {% if movie.picture %}
        <img class="img-rounded" src="data:;base64,{{ base64.b64encode(movie.picture).decode('ascii') }}" width="100%"/>
        {% else %}
        <img class="img-rounded" src="{{ url_for('static', filename='movie.png') }}" width="100%"/>
        {% endif %}
        </a>
        <div class="movie-content">
            名称：{{ movie.name }}<br/>
            导演：{{ movie.director }}<br/>
            价格：￥{{ movie.price }}<br/>
            评分：{{ round(movie.total_score / movie.total_rating, 1) if movie.total_rating > 0 else '暂无' }}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% if pagination %}
<div style="text-align: center;">
    <div class="pagination">
        <ul class="pagination">
            <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
                <a href="{% if pagination.has_prev %}{{ url_for('.search', name=name, director=director, year=year, page=pagination.prev_num) }}{% else %}#{% endif %}">
                    上一页
                </a>
            </li>
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    {% if p == pagination.page %}
                    <li class="active">
                        <a href="{{ url_for('.search', name=name, director=director, year=year, page = p) }}">{{ p }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('.search', name=name, director=director, year=year, page = p) }}">{{ p }}</a>
                    </li>
                    {% endif %}
                {% else %}
                <li class="disabled"><a href="#">&hellip;</a></li>
                {% endif %}
            {% endfor %}
            <li{% if not pagination.has_next %} class="disabled"{% endif %}>
                <a href="{% if pagination.has_next %}{{ url_for('.search', name=name, director=director, year=year, page=pagination.next_num) }}{% else %}#{% endif %}">
                    下一页
                </a>
            </li>
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}
