{% extends "base.html" %}

{% block title %}迅影{% endblock %}

{% block page_content %}
<div class="page-header">
{#    <h1>你好，{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}游客{% endif %}!</h1>#}
    <h1>院线大片</h1>
</div>
<div class="container">
    <div class="row">
        <div id="carouselMenu" class="carousel slide">
            <ol class="carousel-indicators">
                {% for i in range(num) %}
                    <li data-target="#carouselMenu" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for i in range(num) %}
                <div class="item {% if i == 0 %} active{% endif %}">
                <a href="{{ url_for('subject.movie', id=movies[i].id) }}">
                    <div class="col-md-8">
                        <p><b>名称：</b>{{ movies[i].name }}</p>
                        <p><b>上映日期：</b>{{ movies[i].date }}</p>
                        <p><b>价格：</b>{{ movies[i].price }}</p>
                        <p><b>导演：</b>{{ movies[i].director }}</p>
                        <p><b>评分：</b>{{ round(movies[i].total_score / movies[i].total_rating, 1) if movies[i].total_rating > 0 else '2.5' }}</p>
                        <b>简介：</b>
                        <p>{{ movies[i].description }}</p>
                    </div>
                    <div class="col-md-4">
                        <img src="data:;base64,{{ base64.b64encode(movies[i].picture).decode('ascii') }}" alt=""/>
                    </div>
                </a>
                </div>
                <div class="col-md-8">

                </div>
                {% endfor %}
            </div>
            <a class="carousel-control left" href="#carouselMenu" data-slide="prev">‹</a>
            <a class="carousel-control right" href="#carouselMenu" data-slide="next">›</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
    $(function(){
        $("#carouselMenu").carousel({
            interval: 3000,
            wrap: true
        });
    })
</script>
{% endblock %}
